body {
    font-family: 'PT Sans', sans-serif;
}


header {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}



header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}





ul.navbar-nav .nav-item .nav-link .active {
    color: rgb(244, 127, 255);
}

.card {
    transition: 0.2s all ease-in;
    cursor: pointer;
    
}

.explore_link {
    text-decoration: none;
    font-weight: bold;
}

